.slidedeck section {

    > ul {
        font-size: 36pt;
    }

    &#title {
        h1 {
            width: 800px;
            font-size: 4em;
        }
    }

    h2 {
        height: 700px;
        font-size: 6em;
        top: 250px;
        padding-top: 1em;
    
        span {
            display: inline-block;
            padding-top: 1em;
        }
    }
    
    h3 {
        font-size: 3.5em;
    }
    
    &.headrd h3 {
        float : right;
        margin-top: 650px;
        font-size: 5em;
        width: 700px;
    }

    &.screenshot .block-image {
        top: 230px;

        img {
            object-fit : unset;
        }
    }

    &#mesh {
        .block-image {
            top: 240px;
        }
    }

    &#closing {
        > .block-image {
            margin-top: 250px;
            width: 40%;
            left: 100px;
        }
        
        > p {
            font-size: 48pt;
        }
    }

    &#quiz {
        p {
            font-size: 64pt;
        }
    }

    &.dark {
        background-color : #2a2933;
    }
}
